*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: black;
}

.div1{
    text-align: center;
}

.rei{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.soldado{
    margin:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border:solid white 5px;
}

ul:hover{
    border-color: goldenrod;
}

h2{
    color:white;
    font-size:50px;
    margin:10px;
}

.img2{
    height:440px;
}

.geo{
    color:goldenrod;
}

.pyro{
    color:darkred;
}

.hydro{
    color:darkblue;
}

.electro{
    color:purple;
}

.cryo{
    color:royalblue;
}

.anemo{
    color:aqua;
}